In [62]:
import pandas as pd
from pathlib import Path
import chardet
import numpy as np

In [2]:
RAW_MOVIE_PATH = Path("data", "movies.csv")

In [3]:
with open(RAW_MOVIE_PATH, "rb") as raw_movie_file:
    raw_movie_text = raw_movie_file.read()

chardet_result = chardet.detect(raw_movie_text)
chardet_result

{'encoding': 'ISO-8859-1', 'confidence': 0.7298640493430825, 'language': ''}

In [4]:
chardet_result.keys()

dict_keys(['encoding', 'confidence', 'language'])

In [5]:
chardet_result["encoding"]

'ISO-8859-1'

In [6]:
raw_df = pd.read_csv(RAW_MOVIE_PATH, encoding=chardet_result["encoding"]) 
print(raw_df.shape)

(995, 11)

In [7]:
raw_df["Lang"] = raw_df["Language"].str.split(pat=",") 
print(raw_df.shape)
raw_df.head()

(995, 12)

,imdbID,Title,Year,Runtime,Genre,Awards,BoxOffice,Ratings,Language,Director,Actors,Lang
0,tt9114286,Black Panther: Wakanda Forever,2022,161 min,"Action, Adventure, Drama",Won 1 Oscar. 50 wins & 172 nominations total,"$453,829,060","[{'Source': 'Internet Movie Database', 'Value'...","English, Xhosa, Maya, Spanish, Haitian, French",Ryan Coogler,"Letitia Wright, Lupita Nyong'o, Danai Gurira","[English, Xhosa, Maya, Spanish, Haitian, ..."
1,tt1630029,Avatar: The Way of Water,2022,192 min,"Action, Adventure, Fantasy",Won 1 Oscar. 75 wins & 150 nominations total,"$684,075,767","[{'Source': 'Internet Movie Database', 'Value'...",English,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",[English]
2,tt5884796,Plane,2023,107 min,"Action, Adventure, Thriller",NaN,"$32,111,181","[{'Source': 'Internet Movie Database', 'Value'...","English, Tagalog",Jean-François Richet,"Gerard Butler, Mike Colter, Tony Goldwyn","[English, Tagalog]"
3,tt6710474,Everything Everywhere All at Once,2022,139 min,"Action, Adventure, Comedy",Won 7 Oscars. 402 wins & 373 nominations total,"$77,191,785","[{'Source': 'Internet Movie Database', 'Value'...","English, Mandarin, Cantonese","Daniel Kwan, Daniel Scheinert","Michelle Yeoh, Stephanie Hsu, Jamie Lee Curtis","[English, Mandarin, Cantonese]"
4,tt5433140,Fast X,2023,141 min,"Action, Adventure, Crime",2 wins & 14 nominations,"$146,126,015","[{'Source': 'Internet Movie Database', 'Value'...",English,Louis Leterrier,"Vin Diesel, Michelle Rodriguez, Jason Statham",[English]

In [24]:
lang_df = raw_df.explode("Lang").dropna(subset=['Lang', 'BoxOffice'])
print(lang_df.shape)
lang_df.head()

(1982, 12)

,imdbID,Title,Year,Runtime,Genre,Awards,BoxOffice,Ratings,Language,Director,Actors,Lang
0,tt9114286,Black Panther: Wakanda Forever,2022,161 min,"Action, Adventure, Drama",Won 1 Oscar. 50 wins & 172 nominations total,"$453,829,060","[{'Source': 'Internet Movie Database', 'Value'...","English, Xhosa, Maya, Spanish, Haitian, French",Ryan Coogler,"Letitia Wright, Lupita Nyong'o, Danai Gurira",English
0,tt9114286,Black Panther: Wakanda Forever,2022,161 min,"Action, Adventure, Drama",Won 1 Oscar. 50 wins & 172 nominations total,"$453,829,060","[{'Source': 'Internet Movie Database', 'Value'...","English, Xhosa, Maya, Spanish, Haitian, French",Ryan Coogler,"Letitia Wright, Lupita Nyong'o, Danai Gurira",Xhosa
0,tt9114286,Black Panther: Wakanda Forever,2022,161 min,"Action, Adventure, Drama",Won 1 Oscar. 50 wins & 172 nominations total,"$453,829,060","[{'Source': 'Internet Movie Database', 'Value'...","English, Xhosa, Maya, Spanish, Haitian, French",Ryan Coogler,"Letitia Wright, Lupita Nyong'o, Danai Gurira",Maya
0,tt9114286,Black Panther: Wakanda Forever,2022,161 min,"Action, Adventure, Drama",Won 1 Oscar. 50 wins & 172 nominations total,"$453,829,060","[{'Source': 'Internet Movie Database', 'Value'...","English, Xhosa, Maya, Spanish, Haitian, French",Ryan Coogler,"Letitia Wright, Lupita Nyong'o, Danai Gurira",Spanish
0,tt9114286,Black Panther: Wakanda Forever,2022,161 min,"Action, Adventure, Drama",Won 1 Oscar. 50 wins & 172 nominations total,"$453,829,060","[{'Source': 'Internet Movie Database', 'Value'...","English, Xhosa, Maya, Spanish, Haitian, French",Ryan Coogler,"Letitia Wright, Lupita Nyong'o, Danai Gurira",Haitian

In [41]:
lang_df['revenue'] = lang_df['BoxOffice'].str.strip().str.replace('$', '').str.replace(',', '').astype('Int64')
print(lang_df.shape)
lang_df.head()

(1982, 13)

,imdbID,Title,Year,Runtime,Genre,Awards,BoxOffice,Ratings,Language,Director,Actors,Lang,revenue
0,tt9114286,Black Panther: Wakanda Forever,2022,161 min,"Action, Adventure, Drama",Won 1 Oscar. 50 wins & 172 nominations total,"$453,829,060","[{'Source': 'Internet Movie Database', 'Value'...","English, Xhosa, Maya, Spanish, Haitian, French",Ryan Coogler,"Letitia Wright, Lupita Nyong'o, Danai Gurira",English,453829060
0,tt9114286,Black Panther: Wakanda Forever,2022,161 min,"Action, Adventure, Drama",Won 1 Oscar. 50 wins & 172 nominations total,"$453,829,060","[{'Source': 'Internet Movie Database', 'Value'...","English, Xhosa, Maya, Spanish, Haitian, French",Ryan Coogler,"Letitia Wright, Lupita Nyong'o, Danai Gurira",Xhosa,453829060
0,tt9114286,Black Panther: Wakanda Forever,2022,161 min,"Action, Adventure, Drama",Won 1 Oscar. 50 wins & 172 nominations total,"$453,829,060","[{'Source': 'Internet Movie Database', 'Value'...","English, Xhosa, Maya, Spanish, Haitian, French",Ryan Coogler,"Letitia Wright, Lupita Nyong'o, Danai Gurira",Maya,453829060
0,tt9114286,Black Panther: Wakanda Forever,2022,161 min,"Action, Adventure, Drama",Won 1 Oscar. 50 wins & 172 nominations total,"$453,829,060","[{'Source': 'Internet Movie Database', 'Value'...","English, Xhosa, Maya, Spanish, Haitian, French",Ryan Coogler,"Letitia Wright, Lupita Nyong'o, Danai Gurira",Spanish,453829060
0,tt9114286,Black Panther: Wakanda Forever,2022,161 min,"Action, Adventure, Drama",Won 1 Oscar. 50 wins & 172 nominations total,"$453,829,060","[{'Source': 'Internet Movie Database', 'Value'...","English, Xhosa, Maya, Spanish, Haitian, French",Ryan Coogler,"Letitia Wright, Lupita Nyong'o, Danai Gurira",Haitian,453829060

In [46]:
lang_df['revenue'].max()

936662225

In [47]:
round(lang_df['revenue'].mean())

117191698

In [58]:
lang_revenue_avg = lang_df.groupby('Lang').mean(numeric_only=True)['revenue'].round()
lang_revenue_avg

Lang
 Afrikaans            120580943.0
 Albanian             145000989.0
 American Sign        125734058.0
 Ancient (to 1453)    250731958.0
 Apache languages     100240551.0
                         ...
Japanese               10162141.0
Korean                  1573230.0
Mandarin               83278896.0
Maya                   50866635.0
Telugu                 10947026.0
Name: revenue, Length: 122, dtype: Float64

In [63]:
lang_revenue_avg

Lang
 Afrikaans            120580943.0
 Albanian             145000989.0
 American Sign        125734058.0
 Ancient (to 1453)    250731958.0
 Apache languages     100240551.0
                         ...
Japanese               10162141.0
Korean                  1573230.0
Mandarin               83278896.0
Maya                   50866635.0
Telugu                 10947026.0
Name: revenue, Length: 122, dtype: Float64